/*  _____________________________________________________________________________
 * |                                                                             |
 * |                    === WARNING: GADGET FILE ===                      |
 * |                  Changes to this page affect many users.                    |
 * | Please discuss changes on the talk page or on [[MediaWiki_talk:Gadgets-definition]] before editing. |
 * |_____________________________________________________________________________|
 *
 * "Endorse" feature, to be used by the Wikimedia Foundation's Grants Programme, 
 */
.endorseGadget .ui-state-hover{
	background: transparent;
	border-color: #a1a1a1;
}
.endorseGadget.ui-dialog .ui-icon-closethick{
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjQsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iMTEuMzEzcHgiIGhlaWdodD0iMTEuMzEzcHgiIHZpZXdCb3g9IjAgMCAxMS4zMTMgMTEuMzEzIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMS4zMTMgMTEuMzEzIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwb2x5Z29uIGZpbGw9IiNCMEIxQjEiIHBvaW50cz0iMTEuMzEzLDIuMTIxIDkuMTkyLDAgNS42NTcsMy41MzUgMi4xMjIsMCAwLDIuMTIxIDMuNTM2LDUuNjU2IDAuMDAxLDkuMTkxIDIuMTIyLDExLjMxMyANCgk1LjY1Nyw3Ljc3NyA5LjE5MiwxMS4zMTIgMTEuMzEzLDkuMTkxIDcuNzc4LDUuNjU2ICIvPg0KPC9zdmc+DQo=) no-repeat 50% 50% !important;
}
.endorseGadget .ui-widget-content{
	background: #EEE;
}

.endorseGadget.ui-dialog .ui-widget-header{
	border: none;
	background: #EEE !important;
	padding-left: 11px !important;
	margin-top: 25px;
}
.endorseGadget.ui-widget-content{
	background: #EEE;
	padding: 10px 35px;
	color: #444; 
	border-left: 1px solid #ddd; 
	border-top: 1px solid #ddd; 
	border-right: 1px solid #ddd; 
	border-bottom: 3px solid #D0D0D0; 
	border-radius: 1px;
}
.endorseGadget .gadgetControls{
	text-align: right;
	margin: 10px 0px;
}
.endorseGadget .endorseDescription{
	margin: 10px 0px;
}
.endorseGadget textarea{
	outline: 0px;
	padding: 14px;
	resize: none;
	background-color: white;
	border: 1px solid #DDD;
	border-radius: 1px;
	margin-bottom: 1em;
}
.endorseGadget textarea:focus{
	border-left-width: 6px;
	border-left-color:#4091ed;
}
.endorseSpeechBubbleContainer{
	position: absolute;
	top: -50px;
}
.endorseSpeechBubble{
	background: #347BFF;
	border-radius: 3px;
	display: inline-block;
	padding: 10px;
	border-bottom-color: #1059E1;
	border-width: 0px 0px 3px 0px;
	border-style: solid;
	color: white;
}
.endorseArrowDown {
	width: 0px; 
	height: 0px; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #347BFF;
	position: relative;
	top: -3px;
	left: 10px;
}
.hide{
	display: none;
}
.gadgetSignature{
	font-size: 9px;
}
.endorseGadget textarea::-webkit-input-placeholder{
	font-style: italic;
}
.endorseGadget textarea::-moz-placeholder {  /* Firefox 19+ */
    font-style: italic;
}
.endorseGadget textarea:-ms-input-placeholder {  
	font-style: italic;
}
